img {
  width: 250px;
  height: 300px;
  margin: auto;
}
.img-box {
  position: relative;
}
.card-body {
  position: relative;
}
.adtocart {
  background: #fc5959;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 45%;
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}
.card-text {
  color: #fc5959;
  font-size: 15px;
}
.btn-icon {
  font-size: 1.2rem;
  padding: 2px;
  color: #818a91;
  cursor: pointer;
}

.btn-icon:hover {
  color: #2b2b2c;
}
