<section class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">
                            {{products.length}} items
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="products.length!=0">

                    <div class="row border-top border-bottom" *ngFor="let item of products; let i = index">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                <img class="img-fluid" [src]="item.image" />
                            </div>
                            <div class="col">
                                <div class="row text-muted">{{ item.title }}</div>
                                <div class="row">{{ item.category }}</div>
                            </div>
                            <div class="col">
                                <a (click)="removeItem(item)">-</a>

                                <a class="border">{{item.qtn}}</a>

                                <a (click)="addtocart(item)">+</a>
                            </div>
                            <div class="col">
                                &#36; {{ totalPrice }} <span class="close"
                                    (click)="removeFromCart(item)">&#10005;</span>
                            </div>
                        </div>
                    </div>

                </ng-container>

                <ng-container *ngIf="products.length==0">

                    <div class="row">
                        <img src="../../../assets/images/cart/empty.png" alt="" class="w-100">
                    </div>

                </ng-container>
                <div class=" back-to-shop">
                    <a [routerLink]="['/shop']">&leftarrow;
                        <span class="text-muted" routerLinkActive="router-link-active">Back to shop</span>
                    </a>


                    <button (click)="emptycart()" class="btn btn-danger btn-sm">Empty Cart</button>
                </div>
            </div>

            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr />
                <div class="row">
                    <div class="col" style="padding-left: 0">ITEMS : {{products.length}} </div>
                    <div class="col text-right">&#36; {{ grandTotalPrice }}</div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select>
                        <option class="text-muted">Standard-Delivery-&#36;0.00</option>
                    </select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code" />
                </form>
                <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&#36; {{ grandTotalPrice }}</div>
                </div>
                <button class="btn">CHECKOUT</button>
            </div>
        </div>
    </div>
</section>