<header class="pt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <h1 class="fw-bold">I'M <span>{{title}}</span></h1>
                <h3 class="mt-4 mb-4 fw-bold"><span>A</span> Web Designer.</h3>
                <span class="mt-3"><a href="#" class="btn px-4 py-2 ">Contact Me</a></span>
            </div>
            <div class="col-6">
                <figure>
                    <img src="../../../assets/images/personal-image-05.jpg" class=" rounded-circle">
                </figure>
            </div>
        </div>
    </div>

</header>