<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Web design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Hosting</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Contact</h3>
                <ul>
                    <li>Adress: 24 Street, New York, United State. </li>
                    <li><a href="#">Phone: +123 456 7890</a></li>
                    <li><a href="#">Email:info@Jessy.com</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3> Jessy Doe</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus
                    elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
            <div class="col item social">

                <a href="#">
                    <i class="  fab fa-twitter"></i>

                </a>
                <a href="#">
                    <i class="  fab fa-facebook"></i>

                </a>
                <a href="#">
                    <i class="  fab fa-linkedin"></i>

                </a>

            </div>
        </div>
        <p class="copyright"> Jessy Doe © 2021</p>
    </div>
</footer>