<!-- Card-->

<div class="card mb-3">
    <img [src]="productItem.image" class="card-img-top d-block mx-auto mb-3 pt-2" alt="...">
    <div class="card-body p-4">
        <h5 class="card-title">{{productItem.title | uppercase}}</h5>

        <ul class=" list-unstyled small">
            <li class="card-text fw-bold small text-muted font-italic"> Category: <span
                    class="text-muted fw-normal">{{productItem.category}}</span> </li>
            <li class="card-text fw-bold small text-muted font-italic"> Price: <span
                    class="text-muted fw-normal">{{productItem.price | number: '1.0-0'}}</span> </li>

            <li class="card-text fw-bold small text-muted font-italic"> rate:
                <span class="text-muted fw-normal ">

                    <span>{{productItem.rating.rate}}</span>
                </span>
            </li>
            <li class="card-text fw-bold small text-muted font-italic"> count_in_stock:


                <span class="text-muted fw-normal " *ngIf="productItem.rating.count_in_stock ==0; else elseBlock">
                    Not available</span>
                <ng-template #elseBlock>

                    <span class="text-muted fw-normal ">

                        available</span>

                </ng-template>
            </li>
        </ul>

        <button class="btn btn-primary btn-sm" routerLink="/shop/{{productItem.id}}">Add To Cart</button>
    </div>

</div>