<header>
    <div class="container-fluid">
        <div class="row">

            <div aria-label="breadcrumb" class="pt-5">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                </ol>
            </div>

        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <app-product-list></app-product-list>
            </div>
        </div>
    </div>
</section>